{% extends 'todoapp/main.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'todoapp/tasks.css' %}">

{% if request.user.is_authenticated %}
    {% comment %}
    <p>{{request.user}} task</p>
    {% endcomment %}
    <a class="log-out" href="{% url 'logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif%}
<img class="dibujo" src="{% static 'todoapp/task.png' %}">

<div class="button">
<button><a href="{% url 'task-create' %}">+ Add a new task</a></button>
</div>

<form method="GET">

    <input type="text" name="search-area" value="{{search_input}}">
    <input class="search" type="submit" value="search">

</form>

<table>
    {% for task in tasks %}

    <tr>

        <td><div class="task-box">{{ task.title|capfirst }}</div><td/>
        <td><a href='{% url 'task-update' task.id %}'><img class="icon" src="{% static 'todoapp/editar-texto.png' %}"><a/><td/>
        <td><a href='{% url 'task-delete' task.id %}'><img class="icon" src="{% static 'todoapp/cerrar.png' %}"><a/><td/>

    </tr>

    {% empty %} {% comment %} si las lista esta vacia q haga esto {% endcomment %}
    <h3>No items in the list</h3>
    {% endfor %}
    
</table>

{% endblock %}