body {
    background-color: rgb(29, 29, 29);
}

.container {
    background-color: aqua;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}

table {
    display: flex;
    justify-content: center;
}